{% load static %}
<html>
<head>
<title>LOVE YOU
</title>
<link href="{% static 'bstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- <link href="{% static 'css/speedhome.css' %}" rel="stylesheet"> -->

    <!-- Custom CSS -->
    <link href="{% static 'css/scrol.css' %}" rel="stylesheet">
<style>
body{
    background-color:black;
    background-repeat: no-repeat;
    background-size: cover;
    height:768px;
    width:1340px;
    margin: 0px 0px 0px 0px;

}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}
.zoomIn{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Fondamento' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'css/animate.css' %}">

</head>
<body style="font-family:'Fondamento',bold sans-serif;background-color:black;">
 <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
 <div class="container">
    <div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
             <span class="icon-bar"></span>
			 <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
       </button>
	   <a href="/home/" class="navbar-brand">HAPPY ANNIVERSARY</a>
	  </div>
	  <div class="collapse navbar-collapse" id="navbar-collapse">
	  <ul class="nav navbar-nav">
	     <li><a class="page-scroll" href="/surprize/">Home</a>
	     <li><a class="page-scroll" href="#gallery">Gallery</a>
	  </ul>
  </div>
  </div>
 </nav>

 <div class="jumbotron text-center" style="background-color:rgb(51,144,151); opacity:0.9;">
    <div class="container "><br><br>
    <br>
    <br>
    <br>

	<h1 style="color:black;">2016</h1>
	<p style="font-size:40px;color:black;"> 2016, the year that changed my life, for good. You have been like a magic to me, like a reward that was kept aside just for me.The new journey that i , at that moment was about to embark upon holding your hand from then onwards.And since then growing stronger through that journey called life, with you. That night of 2015 was nothing short of my dream coming true and you know how much i mean it when i say this. That "sweet basak" will always be my two most favourite words forever.I love you.Enjoy!</p>
	</div>

 </div>

<div class="container">
       <section>
          <div class="page-header" style="color:white;" id="gallery">
              <h2 style="color:white;">Memories!<small style="color:white;">P.S-Coz i'm gonna love you like i'm gonna loose you, even more so.</small></h2>
              </div>
             <div id="myexp" class="carousel slide" data-interval="5000" data-ride="carousel">

  
                    <ol class="carousel-indicators">
                    <li data-target="#myexp" data-slide-to="0" class="active"></li>
                    <li data-target="#myexp" data-slide-to="1"></li>
                    <li data-target="#myexp" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" style="color: black;">
                     <div class="item active">
                                    <img src="{% static '20161.jpg' %}" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                     <h3 >The favourite pic forever, the first official date.<span class="glyphicon glyphicon-heart"></span></h3>
    
                                      </div>
      
                               </div>
                          
                               <div class="item ">
                                    <img src="{% static '20162.jpg' %}" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                     <h3 >Those magical moments!</h3>
    
                                      </div>
      
                               </div>
                              
                               <div class="item">
                                    <img src="{% static '20163.jpg' %}" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                     <h3 style="color: black;">The silver city MCD. :P</h3>
    
                                      </div>
                               </div>
                                <div class="item ">
                                    <img src="{% static '20164.jpg' %}" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                     <h3 >You so close<span class="glyphicon glyphicon-heart"></span></h3>
    
                                      </div>
      
                               </div>
                               <div class="item">
                                    <img src="{% static '20165.jpg' %}" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                     <h3 >The after-marriage pic.<span class="glyphicon glyphicon-heart"></span> </h3>
    
                                      </div>
                               </div>
                               <div class="item">
                                    <img src="{% static '20166.jpg' %}" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                     <h3 >Our Randomzz! :P </h3>
    
                                      </div>
                               </div>

                               <div class="item">
                                    <img src="{% static '20167.jpg' %}" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                     <h3 >Well a little confused about it's year! :P but doesn't matter, it's beautiful annyway!</h3>
    
                                      </div>
                               </div>

                               <div class="item">
                                    <img src="{% static '20168.jpg' %}" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                     <h3 style="color: black;">My birthday.</h3>
    
                                      </div>
                               </div>

                               <div class="item">
                                    <img src="{% static '20169.jpg' %}" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                     <h3 style="color: black;">Your birthday</h3>
    
                                      </div>
                               </div>

                               <div class="item">
                                    <img src="{% static '201610.jpg' %}" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                     <h3 >And another beautiful moment! Love you.</h3>
    
                                      </div>
                               </div>




                        </div>


                     <a class="left carousel-control" href="#myexp" role="button" data-slide="prev">
                     <span class="glyphicon glyphicon-chevron-left"></span>
                 </a>
                 <a class="right carousel-control" href="#myexp" role="bu tton" data-slide="next">
                     <span class="glyphicon glyphicon-chevron-right"></span>
                 </a>
                 </div> <!-- Carousel -->
             </section>
         </div>
<audio id="my_audio" src="{% static 'gonna_love_u.mp3' %}" loop="loop"></audio>




<script type = "text/javascript" 
         src = "{% static 'js/jquery.min.js' %}"></script>

</script>
<script type="text/javascript">
    window.onload = function() {
    document.getElementById("my_audio").play();
}
</script>
<!-- jQuery -->
 <!--    <script src="{% static 'jquery.js' %}"></script> -->

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bstrap/js/bootstrap.min.js' %}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/scrol.js' %}"></script>
 </body>
</html>