{% load static %}
<html>
<head>
<title>
LOVE YOU
</title>
<style>
#background1{
    background-color:rgb(244, 166, 65);
    background-repeat: no-repeat;
    opacity:0.5;
    background-size: cover;
    height:768px;
    width:1340px;
    margin: 0px 0px 0px 0px;

}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}
.zoomIn{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Fondamento' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'css/animate.css' %}">
</head>
<body style="background-color: rgb(51,144,151);opacity:0.8;">
<hr style="padding-bottom:3px;margin-top:20px;margin-bottom:0px;color:white;background-color:white;" size="20">
<p style="font-family:'Fondamento',bold sans-serif;background-color: black;color:white;font-size: 60px;margin:0;padding-left:450px;">FOR YOU<span class="glyphicon glyphicon-heart"></span></p>
<hr style="padding-bottom:3px;margin-top:0px;margin-bottom:0px;color:white;background-color:white;" size="20">
<div class="container-fluid">
<div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-8">
<p style="padding:0px;margin-top:40px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;"><b>Hey,hope you loved it and now you know why i was dying for this anniversary.Well no worries its 

<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;"><b>
not to remind you of our arguments but of how wonderfully lucky i am to be yours.Suyash you </b></p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
have been like the perfect combination of what i wished for, keeping our emotional perceptions </b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
imperfections aside;you are that one person to accept the insanest of my things, the Mike to 
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
Phoebe(i know u won't get this :P) who thinks i am so wonderfully weird.It might be totally cheesy

</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
  and cliche to say but your smile makes my day.You are a treat to my eyes, i remember you said 
 </b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
 this to me even before commitment when we were kids fighting for every little thing, that you
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
 are my treat and u said "it's a great thing to be someone's treat", well yep that is.I remember
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
 that day you had to be the champ to call my name first of the five girls, well good for you i guess
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
 it clicked something  
 <span class="glyphicon glyphicon-heart"></span>.
                       Those initial convo to the nasty funny fights,waking me up just to annoy
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
  me to writing each others assignment when we could have perfectly done our own :D.Fighting </b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
with each other to be around each other which we still do and hope we keep doing it for the rest of 
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>

our lives, "un ladai-yo me bhi alag maza hai":P.The mains craving and me crying "cebause" i  
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
couln't loose you :'(. And so i knew i was in love, the fairytail kind? no idea but i needed you more 
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
than i needed me.And call me selfish the day u didn't get selected i was so damn happy and since 
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
then each day brings me a little closer to you. I am really thankful to your overflow otherwise we 
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
would still be struggling at the end of fourth year i guess :D. I really feel a lot for you and i crave 
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
for you every minute of the day. I wish to spend all my experiences with you,whenever there is  
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>


some great event in my life you and mum are the first people i wanna share it with.When you are
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
 sad i want  to become that stand-up commedian that u so keep telling me about.I really want to
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
 be around you.If this is love; then i really really love you. You are the first person to know 
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
me in my darkest which the rest of the world doesn't have a clue about and i think i can say the
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>


 same for you :P. You have supported me in those moments when the rest of the world stepped 
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
aside,my cuppycake.I know somedays we can get really cranky and a perfect relationship is 
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
not what we have, but i feel it is never about the perfections it's about how deep you can dive into
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
 the imperfections and love someone even more.I know we both are capable of that. I just wanna 
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
say suyash you are my best experience, and i'd like to keep experiencing you till my last breath.
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
</p>
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>
"TO BE YOURS I PRAY AND TO LOVE YOU IN EVERY POSSIBLE WAY! TE AMO :* <span class="glyphicon glyphicon-heart"></span>
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
</p>
<p style="padding:0px;margin-top:7px;margin-bottom:2px;color:black;font-family:'Fondamento',bold sans-serif;font-size: 20px;">
<b>


"and a very very Happy Anniversary<span class="glyphicon glyphicon-heart"></span>.
</b>
</p>
<hr style="padding-bottom:1px;margin-top:3px;margin-bottom:0px;color:white;background-color:white;" size="10">
</div>
<div div class="col-lg-2"></div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<audio id="my_audio" src="{% static 'PERFECT.mp3' %}" loop="loop"></audio>

</body>
<script type="text/javascript">
    window.onload = function() {
    document.getElementById("my_audio").play();
}
</script>
</html>